{{ if .Heading }}<h2>{{ .Heading }}</h2>{{ end }}
{{ if .Description }}<p>{{ .Description }}</p>{{ end }}
<table>
  <tr>
    <th>Output</th>
    <th>Value</th>
    <th>Type</th>
  </tr>
{{ range $key, $value := .Outputs }}
  <tr>
    <td>{{ $key }}</td>
    <td><pre>{{ prettyPrint $value }}</pre></td>
    <td>{{ dataType $value }}</td>
  </tr>
{{ end }}
</table>
