{{ if .Heading }}## {{ .Heading }}{{ end }}

{{ if .Description }}{{ .Description }}{{ end }}

| Output | Value | Type
| --- | --- | --- |
{{ range $key, $value := .Outputs }}| {{ $key }} | {{ value $value }} | {{ dataType $value }}
{{ end }}
